
/* Color and fonts */
body{
	color: rgb(50, 50, 50);
	font-size: 32px;

}
h1, h2{
  font-family: Courier;

}
h1{
    color: blue;
	font-size: 24px;
}

h2{
	color: rgb(100, 100, 100);
	font-size: 24px;
	font-weight: lighter;

